
body{
	background-color: #9ad6ce;
  font-family: 'Ubuntu', sans-serif;
}



img {
	position: absolute;
	margin-left: 15%;
display:inline-block;
  height:100%;
}


button{
  margin-top:20%;
}

ul{
	list-style-type: none;
	display:inline-block;
}


character{
z-index: -1000;   
}

.hat{
	visibility:hidden;
  z-index: 7;
}
.eye{
	visibility:hidden;
  z-index: 6;
}
.acc{
	visibility:hidden;
  z-index: 5;
}
.scarf{
	visibility:hidden;
  z-index: 4;
}
.coat{
	visibility:hidden;
  z-index: 3;
}
.outfit{
	visibility:hidden;
  z-index: 2;
}
.shoe{
	visibility:hidden;
  z-index: 1;
}














