
body{
	background-color: #EEE8EF;
  font-family: 'Ubuntu', sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    align-content: center;
    align-items: stretch;
    gap: 10px;
}

.buttons {
    flex-grow: 2;
}

img {
    position: fixed;
}


button{
  background-color: #D667EA;
  border: none;
  color: white;
  padding: 2% 3%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.hat{
	visibility:hidden;
  z-index: 7;
}
.eye{
	visibility:hidden;
  z-index: 6;
}
.acc{
	visibility:hidden;
  z-index: 5;
}
.scarf{
	visibility:hidden;
  z-index: 4;
}
.coat{
	visibility:hidden;
  z-index: 3;
}
.outfit{
	visibility:hidden;
  z-index: 2;
}
.shoe{
	visibility:hidden;
  z-index: 1;
}














